{% extends 'admin/layout_admin.html' %}
{% block title %}
    Student Details
{% endblock %}

{% block main_content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">STUDENT DETAILS</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        <a href="{{ url_for('students.student', page=page) }}">
            <button type="submit"
                    class="text-white bg-[#2557D6] hover:bg-[#2557D6]/90 focus:ring-4 focus:ring-[#2557D6]/50 focus:outline-none font-medium rounded-lg text-md px-3.5 py-2 text-center inline-flex items-center dark:focus:ring-[#2557D6]/50 mr-2 mb-2">
                Back to list
            </button>
        </a>
    </div>


    <div class="container" style="padding: 30px 40px; width: 60%; background-color: white; border-radius: 20px;">
        <div class="h3">Informations</div>
        {% for item in rows %}
            <form class="form" method="post" action="/admin/edit_student">
                <input type="hidden" name="sid" value="{{ item.sid }}">
                <input type="hidden" value="{{ page }}" name="page_id">
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <label>First Name</label>
                        <input type="text" class="form-control" value="{{ item.firstName }}"
                               disabled>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-3">
                        <label>Last Name</label>
                        <input type="text" class="form-control" value="{{ item.lastName }}" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <label>Birthday</label>
                        <input type="date" class="form-control" value="{{ item.birthday }}" disabled>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-3">
                        <label>Gender</label>
                        <div class="d-flex align-items-center mt-2">
                            <label class="option">
                                <input type="radio" {% if item.gender == 'Male' %}checked{% endif %} disabled>Male
                                <span class="checkmark"></span>
                            </label>
                            <label class="option ms-4">
                                <input type="radio" {% if item.gender == 'Female' %}checked{% endif %} disabled>Female
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <label>Email</label>
                        <input type="email" class="form-control" value="{{ item.email }}" disabled>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-3">
                        <label>Phone Number</label>
                        <input type="tel" class="form-control" value="{{ item.phoneNumber }}" disabled>
                    </div>
                </div>
                <div class=" my-md-2 my-3">
                    <label>Subject</label>
                    <select id="sub" disabled>
                        <option value="Math" {% if item.subject == 'Math' %}selected{% endif %}>Math</option>
                        <option value="Science" {% if item.subject == 'Science' %}selected{% endif %}>Science</option>
                        <option value="Science" {% if item.subject == 'English' %}selected{% endif %}>English</option>
                        <option value="Social" {% if item.subject == 'Social' %}selected{% endif %}>Social</option>
                        <option value="Graphic Design" {% if item.subject == 'Graphic Design' %}selected{% endif %}>
                            Graphic Design
                        </option>
                        <option value="Programming" {% if item.subject == 'Programming' %}selected{% endif %}>
                            Programming
                        </option>
                    </select>
                </div>
                <div class=" my-md-3 my-3">
                    <label>Profile Picture</label>
                    <img src="{{ url_for('static', filename='img/student/' + (item.image if '.' in item.image else item.image + '.jpg')) }}"
                         alt="Profile Image"
                         style="width: 200px; height: 180px; border-radius: 15px; box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); transition: all 0.3s ease-in-out; cursor: pointer;"
                         onmouseover="this.style.transform='scale(1.05)'; this.style.boxShadow='0 20px 30px rgba(0, 0, 0, 0.2)';"
                         onmouseout="this.style.transform='scale(1)'; this.style.boxShadow='0 10px 15px rgba(0, 0, 0, 0.1)';"
                         data-toggle="modal" data-target="#myModal"
                    >
                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <img src="{{ url_for('static', filename='img/student/' + (item.image if '.' in item.image else item.image + '.jpg')) }}"
                                         alt="Profile Image"
                                         style="width: 100%;">
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button style="margin-top: 15px" type="submit"
                        class="text-white bg-[#2557D6] hover:bg-[#2557D6]/90 font-medium rounded-lg text-md px-3.5 py-2 text-center inline-flex items-center dark:focus:ring-[#2557D6]/50 mr-2 mb-2"
                >
                    EDIT
                </button>
            </form>
        {% endfor %}
    </div>

{% endblock %}


{% block style %}
    .wrapper label {
    display: block;
    padding-bottom: 0.2rem;
    }

    .wrapper .form .row {
    padding: 0.6rem 0;
    }

    .wrapper .form .row .form-control {
    box-shadow: none;
    }

    .wrapper .form .option {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    }

    .wrapper .form .option input {
    opacity: 0;
    }

    .wrapper .option{
    top: 7px;
    }

    .wrapper .form .checkmark {
    position: absolute;
    top: 2px;
    left: 4px;
    height: 20px;
    width: 20px;
    border: 1px solid #bbb;
    border-radius: 50%;
    }

    .wrapper .form .option input:checked~.checkmark:after {
    display: block;
    }

    .wrapper .form .option:hover .checkmark {
    background: #f3f3f3;
    }

    .wrapper .form .option .checkmark:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s;
    }

    .wrapper .form .option input[type="radio"]:checked~.checkmark {
    background: #fff;
    transition: 300ms ease-in-out 0s;
    }

    .wrapper .form .option input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1);
    }


    #sub {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    }

    #sub:focus {
    outline: none;
    }

{% endblock %}